<h1>郵便番号検索</h1>

<h2>郵便番号を入力して検索</h2>

<div class="inputErrArea"><%= @inputErrMsg %></div>
<form method="post" action="/new">
  <input required type="text" max_length=8 name="zip_code" placeholder="郵便番号を入力">
  <input type="submit" value="検索">
</form>

<% unless @message.nil? %>
<p style="color: red"><%= @message %></p>
<% end %>

<h2>検索した郵便番号一覧</h2>


<table>

  <tr>
    <th>id</th>
    <th>郵便番号</th>
    <th>都道府県</th>
    <th>市区町村</th>
    <th>町域名</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>

  <%= @table %>

</table>